:root {
    --backgroundColor: rgb(191, 191, 191);
    --titleColor: rgb(207, 44, 77);
    --secondaryColor: rgb(77, 75, 103);
    --highlightColor: yellowgreen;
    --white: rgb(230, 230, 230);
    --black: black;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
body {
    background-color: var(--backgroundColor);
    font-family: monospace;
}
hr {
    margin-top: -7px;
    margin-bottom: -5px;
    border: 2px solid var(--highlightColor);
    border-bottom: 1px solid rgb(136, 175, 59);
    border-right: 2px solid rgb(136, 175, 59);
    border-radius: 2px;
    
}
h1 {
    font-family: Luminari, fantasy;
    font-size:x-large;
    font-weight:bold;
    color: var(--titleColor);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none
}
.page-centered-x {
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-centered-y {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}
.shadowed {
    border-top: 2px solid rgb(168, 165, 214);
    border-left: 2px solid rgb(109, 107, 138);
    border-bottom: 2px solid rgb(48, 45, 74);
    border-right: 2px solid rgb(64, 59, 96);
}
.reverseshadowed {
    border-bottom: 2px solid rgb(168, 165, 214);
    border-right: 2px solid rgb(109, 107, 138);
    border-top: 2px solid rgb(48, 45, 74);
    border-left: 2px solid rgb(64, 59, 96);
}

/* layout */
#column {
    width: 400px;
    margin: 50px 10px 0 10px;
}
#row {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.content-block {
    margin: 12px 0 12px 0;
    padding: 5px 10px 5px 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
}
.content-block p {
    color: var(--white);
}
.content-block-title {
    color: var(--white);
    text-decoration: none;
    font-size: smaller;
}
.content-block-title:hover {
    color: var(--highlightColor);
    text-decoration: underline;
}

/* navigation menu */
#nav-menu {
    max-height: 400px;
    margin: 10px 20px 10px 20px;
    background-color: var(--backgroundColor);
    border-radius: 2px;
}
#nav-menu li {
    padding: 2px;
}
#nav-menu li:hover {
    background-color: var(--highlightColor);
    cursor: pointer;
    text-decoration:underline;
}
#nav-menu a {
    color: var(--black);
    text-decoration: none;
    font-size: small;
}

/* project gallery */
#project-gallery {
    margin: 15px 0 2px 0;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    gap: 5px;
}
.gallery-button {
    cursor: pointer;
    color: var(--white);
    background-color: var(--secondaryColor);
    font-size: medium;
    font-weight: normal;
}
.gallery-button:hover {
    color: var(--highlightColor)
}
#project-gallery-item {
    width: calc(89 * 4px);
    height: calc(89 * 3px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#project-gallery-image {
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 2px;
}
#project-gallery-image:hover {
    border: 2px solid var(--highlightColor);
}
#gallery-footer {
    padding: 5px 0 5px 0;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}
#all-projects-link {
    text-decoration: none;
    color: var(--white);
    display: block;
    text-align: right;
}
#all-projects-link:hover {
    color: var(--highlightColor);
    text-decoration: underline;
}

/* about page */
#about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items:center;
}
#about-me img {
    height: 150px;
    /* padding: 5px; */
}
#about-text p {
    padding-bottom: 5px;
}
#about-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
}
#about-links a {
    margin-top: -5px;
    padding: 5px;
    text-align: center;
    color: white;
    width: 100%;
    background-color: var(--secondaryColor);
    border-radius: 5px;
}

/* projects page */
#projects {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.project-block {
    height: 120px;
    width: calc(100% / 3);
    background-color: var(--highlightColor);
}

.project-img {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-img:hover {
    opacity: 0.7;
}

/* project documentation */
.documentation {
    background-color: rgb(249, 242, 228);
    font-family: 'Times New Roman';
    font-size: large;
    padding: 10px 100px 10px 100px ;
}
.documentation p {
    padding: 15px 0px 15px 0px;
}
.documentation a {
    color: blue;
    text-decoration: underline;
}
.media-gallery {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 500px;
    width: 100%;
    overflow-x: scroll;
}

/* mailbox */


.mailbox-tabs {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.mailbox-tab {
    background-color: var(--secondaryColor);
    color: var(--white);
    font-size: small;
    border-radius: 2px 2px 0 0;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    color: var(--white);
    z-index: 1;
}

.unselected-tab {
    color: var(--white);
    opacity: 0.5;
}

#mailbox-inbox-labels {
    z-index: 3;
    color: var(--white);
    background-color: var(--secondaryColor);
    border-radius: 0px 2px 0px 0px;
    padding: 3px;
    font-size: x-small;
    display: flex;
    gap: 150px;
}

#mailbox-inbox {
    background-color: var(--backgroundColor);
    border-bottom: 15px solid var(--secondaryColor);
    border-left: 7px solid var(--secondaryColor);
    border-right: 7px solid var(--secondaryColor);
    border-radius: 0px 0px 2px 2px;
    height: 70px;
    overflow-y: scroll;
}

.mailbox-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.mailbox-buttons div {
    color: var(--white);
    font-size: small;
    background-color: var(--secondaryColor);
    padding: 5px 10px 5px 10px;
}

.mailbox-message {
    color: var(--black);
    cursor: pointer;
    white-space: pre;
}

.mailbox-message:hover {
    background-color: var(--highlightColor);
    color: var(--black)
}

#message {
    margin-top: 5px;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    border-top: 15px solid var(--secondaryColor);
    border-bottom: 15px solid var(--secondaryColor);
    border-left: 7px solid var(--secondaryColor);
    border-right: 7px solid var(--secondaryColor);
    border-radius: 0px 0px 2px 2px;
}

#message-content {
    width: 80%;
    background-color: var(--backgroundColor);
    max-height: 300px;
    padding: 5px;
}

#address-box {
    border: 1px solid black;
    padding: 3px;
}

#message-content-box {
    padding: 3px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#message-reply-box {
    padding: 5px;
    font-family: monospace;
    font-size: medium;
    resize: none;
    display: none;
    width: 96%;
    height: 70px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#reply-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    height: 10px;
}

#reply-button img {
    height: 50px;
}

.mailbox-server-status {
    font-size: small;
    margin-top: 1px;
    margin-left: 2px;
    color: var(--white);
    display: flex;
    align-items: center; 
    gap: 5px;
}

#status-dot {
    margin-top: 3px;
    height: 7px;
    width: 7px;
    background-color: var(--highlightColor);
    border-radius: 50%;
}

/* media queries */
@media (max-width: 500px) {
    #column {
        margin-top: 15px;
        width: 95%;
    }
} 