:root {
    --backgroundColor: rgb(177, 177, 177);
    --titleColor: rgb(194, 40, 19);
    --secondaryColor: rgba(77, 75, 103);
    --highlightColor: rgb(188, 255, 54);
    --white: rgb(230, 230, 230);
    --black: black
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
body {
    background-color: var(--backgroundColor);
    font-family: monospace;
}
hr {
    margin-top: 3px;
    border: 1px solid var(--highlightColor);
    border-radius: 2px;
}
h1 {
    font-family: Luminari, fantasy;
    font-size:x-large;
    font-weight:bold;
    color: var(--titleColor);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none
}
.page-centered-x {
    width: 100%;
    display: flex;
    justify-content: center;
}
.hidden {
    opacity: 0;
}

/* layout */
#column {
    width: 400px;
    margin: 50px 10px 0 10px;
}
#content-block {
    margin: 12px 0 12px 0;
    padding: 5px 10px 10px 10px;
    background-color: var(--secondaryColor);
    border-radius: 2px;
    /* border-top: 1px solid var(--white) */
}

#content-block p {
    color: var(--white);
}
.content-block-title {
    color: var(--white);
    text-decoration: none;
    font-size: smaller;
}
.content-block-title:hover {
    color: var(--highlightColor);
    text-decoration: underline;
}

/* navigation menu */
#nav-menu {
    max-height: 400px;
    margin: 10px 20px 10px 20px;
    background-color: var(--backgroundColor);
    border-radius: 2px;
}
#nav-menu li {
    padding: 2px;
}
#nav-menu li:hover {
    background-color: var(--highlightColor);
    color: var(--black);
    cursor: pointer;
    text-decoration:underline;
}
#nav-menu a {
    color: var(--black);
    text-decoration: none;
    font-size: small;
}

/* project gallery */
#project-gallery {
    margin: 10px 0 10px 0;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    gap: 5px;
}
#gallery-next, #gallery-prev {
    cursor: pointer;
    color: var(--highlightColor);
    background-color: var(--secondaryColor);
    font-size: medium;
    font-weight: normal;
}
#project-gallery-item {
    width: calc(89 * 4px);
    height: calc(89 * 3px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#project-gallery-image {
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 2px;
}
#project-overlay {
    position: absolute;
    display: none;
    color: var(--white);
    background-color: var(--secondaryColor);
    padding: 10px;
    z-index: 1;
    border: 1px solid var(--white);
}
#project-gallery-item:hover #project-overlay {
    display:block;
}
#gallery-footer {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}
#all-projects-link {
    text-decoration: none;
    color: var(--white);
    display: block;
    text-align: right;
}
#all-projects-link:hover {
    color: var(--highlightColor);
    text-decoration: underline;
}

/* about page */
#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-me img {
    height: 150px;
    padding-bottom: 6px;
}

/* media queries */
/* @media (max-width: 650px) {
    #column {
        margin-top: 15px;
        width: 100%;
    }
} */