* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Avalon, Arial, Helvetica, sans-serif;
}

header {
    background-color: #000000d2;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    display: inline;
}

#map {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#logo {
    height: 50px;
    padding: 7px;
}

.marker {
    height: 25px;
    width: 25px;
    border: white solid 1px;
    color: black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}