/* General styles */

body {
    margin: 0;
}

html {
    font-size: 10px;
    background-color: #ccc;
}

.card {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

.bonniecard {
    font-family: 'Geneva', 'Trebuchet MS', 'Century Gothic';
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: purple;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-radius: 1.5em 1.5em 0 0;
}

footer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border-radius: 0 0 1.5em 1.5em;
}

img {
    max-height: 100%;
    float: right;
}

header, footer {
    height: 30px;
    padding: 10px;
}

h2, p {
    margin: 0;
}

article {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.334);
}

h2 {
    font-size: 20px;
    line-height: 30px;
}

footer > p {
    font-size: 15px;
    line-height: 30px;
}

article > p {
    padding: 10px;
    color: white;
}